@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap')
.App
    text-align: center

    .container

        margin: 20% auto
        max-width: 90%

        h1
            color: #f3e7e7
            background-color: #512b94
            border-radius: 10px
            font-size: 3vh
            padding: 5px 5px
            font-weight: 800
            border: 2px solid #000
            box-shadow: rgba(7, 7, 7, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px

        span
            -webkit-text-stroke: 1px #000
            text-stroke: 1px #000
            font-family: "Jaro", sans-serif
            display: block
            margin: 45% 0
            font-size: 80px
            font-weight: 800
            color: #57e63b

        button
            box-shadow: rgba(7, 7, 7, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px
            border: 2px solid #000
            cursor: pointer
            font-weight: 800
            background-color: #512b94
            border-radius: 30px
            color: #fff
            width: 100%
            padding: 10px 0
            font-size: 2.8vh

            &:active
                background-color: #512b9481
